<div>
  <h3>Bienvenidos a Random Cervezas</h3>
  <p>...</p>
  
    {{#each responseFromApi}}

        
          {{>beerpartial this}}
          <div>
            <ul>Food Paring
              {{#each this.food_pairing}}
              <li>{{this}}</li> 
              {{/each}}           
            </ul>
          </div>
          <div>
            {{this.brewers_tips}}
          </div>
        


    {{/each}}
  
</div>